<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fenixsoft.bookstore.domain.payment.Payment">
    <select id="findAll" resultType="com.github.fenixsoft.bookstore.domain.payment.Payment">
        select *
        from payment;
    </select>

    <select id="findById"  resultType="com.github.fenixsoft.bookstore.domain.payment.Payment">
        select * from payment where id=#{id}
    </select>

    <select id="findByPayId" resultType="com.github.fenixsoft.bookstore.domain.payment.Payment">
        select * from payment where pay_id=#{payId}
    </select>

</mapper>