<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fenixsoft.bookstore.domain.account.AccountRepository">
    <select id="findAll" resultType="Account">
        SELECT * FROM account;
    </select>

    <select id="findById" resultType="Account">
        SELECT * FROM account WHERE id=#{id}
    </select>

    <select id="findByUsername" resultType="Account">
        SELECT * FROM account WHERE username=#{username}
    </select>

    <insert id="save">
        INSERT INTO account (username, password, name, avatar, telephone, email, location)
        VALUES (#{username}, #{password}, #{name}, #{avatar}, #{telephone}, #{email}, #{location})
        ON DUPLICATE KEY UPDATE location=#{location}
    </insert>

    <update id="update">
        UPDATE account
        SET location=#{location}, telephone=#{telephone}
        WHERE id=#{id}
    </update>

    <select id="existsByUsernameOrEmailOrTelephone" resultType="boolean">
        SELECT COUNT(*) FROM account
        WHERE username=#{username} or email=#{email} or telephone=#{telephone} limit 1
    </select>

    <select id="findByUsernameOrEmailOrTelephone" resultType="Account">
        SELECT * FROM account
        WHERE username=#{username} or email=#{email} or telephone=#{telephone} limit 1
    </select>
</mapper>